$leftSidebarSize: 600px;
$rightSidebarSize: 600px;

$transition:300ms ease all;



body{
  padding: 0;
  margin: 0;
}

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  
  -webkit-transform: translateX(0);
  transform: translateX(0);
  
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  
  -webkit-transition: $transition;
  transition: $transition;
 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; 
  
  opacity: 1;
}

#site-content{
  min-height: 100vh;
}

.show-right #site-canvas {
  -webkit-transform: translateX($rightSidebarSize * -1);
  transform: translateX($rightSidebarSize * -1);
  
  -webkit-transform: translate3d( ($rightSidebarSize * -1), 0, 0);
  transform: translate3d( ($rightSidebarSize * -1), 0, 0);
}

.show-left #site-canvas {
  -webkit-transform: translateX($leftSidebarSize);
  transform: translateX($leftSidebarSize);
  
  -webkit-transform: translate3d($leftSidebarSize, 0, 0);
  transform: translate3d($leftSidebarSize, 0, 0);
}

.show-right #site-content{
  opacity: .25;
}

.show-left #site-content{
  opacity: .25;
}

#site-canvas #left--sidebar {
  width: $leftSidebarSize;
  //height: 100%;
  position: absolute;
  top: 0;
  left: $leftSidebarSize * -1;
}

#site-canvas #right--sidebar {
  width: $rightSidebarSize;
  //height: 100%;
  position: absolute;
  top: 0;
  right: ($rightSidebarSize * -1);
}


.close-nav{
    
}